POSTGRES_USER=barbearia
POSTGRES_PASSWORD=barbearia01
POSTGRES_DB=barbearia
POSTGRES_TEST_DB=barbearia_test
POSTGRES_PORT=5433

DATABASE_URL="postgresql://barbearia:barbearia01@127.0.0.1:5433/barbearia?schema=public"
JWT_SECRET="troque-por-um-segredo-aleatorio"
